button,
a {
  text-decoration: none;
  border: 1px solid #0556f3;
  color: #0556f3;
  font-size: 12px;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 6px 16px;
  margin-right: 16px;
  background-color: #f5f8ff;
  font-weight: 500;
  line-height: 16px;
  cursor: pointer;
  position: relative;
}
button:active {
  margin-top: 2px;
}
button:hover {
  color: red;
}
